---
import Layout from "../layouts/Layout.astro"
import Container from "@components/container.astro"
---

<Layout title="Misión Visión">
  <Container>
    <div
      class="mt-36 mb-24 md:p-24 md:mt-8 p-2 pb-12 shadow-md text-gray-800 dark:text-gray-400 rounded-md"
    >
      <h1 class="text-4xl mb-4 font-semibold dark:text-gray-300">Visión</h1>
      <p>
        Ser líder en la industria, superando las necesidades de nuestros
        clientes.
      </p>

      <h1 class="text-4xl mb-4 mt-8 font-semibold dark:text-gray-300">
        Misión
      </h1>
      <p>Crear valor sosteniblemente para todos.</p>

      <h1 class="text-4xl mb-4 mt-8 font-semibold dark:text-gray-300">
        Valores
      </h1>
      <ul class="list-disc ml-6">
        <li class="mb-2">
          <strong>Integridad:</strong> Actuamos de acuerdo a los principios éticos
          siempre.
        </li>
        <li class="mb-2">
          <strong>Compromiso:</strong>
          <ul class="list-disc ml-6">
            <li>Cumplimos las metas.</li>
            <li>Hacemos nuestro mejor esfuerzo.</li>
            <li>Cumplimos con lo acordado.</li>
            <li>Perseveramos a pesar de las dificultades.</li>
          </ul>
        </li>
        <li class="mb-2">
          <strong>Responsabilidad:</strong>
          <ul class="list-disc ml-6">
            <li>Tomamos decisiones y asumimos las consecuencias.</li>
            <li>Conocemos y cumplimos nuestras obligaciones.</li>
            <li>Aportamos opciones alternativas.</li>
          </ul>
        </li>
        <li class="mb-2">
          <strong>Confianza:</strong>
          <ul class="list-disc ml-6">
            <li>Optimizamos los recursos asignados.</li>
            <li>Hacemos que las cosas sucedan.</li>
            <li>
              Manejamos Información Confidencial con discreción y prudencia.
            </li>
            <li>Promovemos comunicación abierta y sincera.</li>
          </ul>
        </li>
        <li class="mb-2">
          <strong>Innovación:</strong>
          <ul class="list-disc ml-6">
            <li>
              Incentivamos la generación e implementación de nuevas ideas.
            </li>
            <li>Aceptamos y apoyamos los cambios acordados.</li>
          </ul>
        </li>
        <li class="mb-2">
          <strong>Seguridad:</strong>
          <ul class="list-disc ml-6">
            <li>Actuamos pensando en nuestra seguridad y la de los demás.</li>
            <li>Promovemos una cultura de gestión de riesgos.</li>
          </ul>
        </li>
      </ul>

      <h1
        class="text-4xl mb-4 text-center mt-24 font-semibold dark:text-gray-300"
      >
        Política de Calidad e Inocuidad
      </h1>
      <p>
        Somos una empresa líder en producción de caña, azúcar y sus derivados
        con los más altos estándares de calidad e inocuidad que busca la mejora
        continua de sus procesos de una forma amigable con el medio ambiente y
        con el compromiso de alcanzar la satisfacción permanente de nuestros
        clientes y partes interesadas.
      </p>
    </div>
  </Container>
</Layout>
