---
import Layout from "../layouts/Layout.astro"
import Container from "@components/container.astro"
---

<Layout title="Trayectoria">
  <Container>
    <div
      class="mt-36 md:mt-4 mb-48 md:p-24 p-4 pb-12 dark:text-gray-400 rounded-lg shadow-md"
    >
      <h1 class="text-3xl mb-3 dark:text-gray-100">Quiénes Somos</h1>
      <p>
        El <span class="text-blue-600">20 de octubre de 1938</span>, un grupo de
        empresarios sampedranos encabezados por <span class="text-blue-600"
          ><br />Don Roberto Fasquelle Orellana</span
        > fundaron <span class="text-blue-600"
          >COMPAÑÍA AZUCARERA HONDUREÑA, S.A. (CAHSA)</span
        >. <br />Su primer ingenio, llamado <span class="text-blue-600"
          >“El Juguete”</span
        >, tenía una capacidad diaria de molienda de <span class="text-blue-600"
          >150 toneladas cortas de caña</span
        >.<br /> En <span class="text-blue-600">1948</span>, instalaron un nuevo
        ingenio llamado <span class="text-blue-600">“San Jose”</span> con capacidad
        de <span class="text-blue-600">600 toneladas diarias</span>.<br /> En <span
          class="text-blue-600">1960</span
        >, se inauguró el ingenio <span class="text-blue-600">“San Ramón”</span>
        en Villanueva, Cortés, con capacidad de <span class="text-blue-600"
          >1,300 toneladas diarias</span
        >.<br /> Actualmente, CAHSA cuenta con uno de los ingenios más modernos de
        <span class="text-blue-600">Centro América</span>, con una capacidad de <span
          class="text-blue-600">16,000 toneladas diarias</span
        > y una producción anual de <span class="text-blue-600"
          >3,000,000 de quintales de azúcar</span
        >.
      </p>

      <h1 class="text-3xl mb-3 mt-24 dark:text-gray-100">
        Ingenio Santa Matilde
      </h1>
      <p>
        El Ingenio Santa Matilde genera <span class="text-blue-600"
          >80,431,930 Kw-h</span
        > de energía eléctrica limpia con bagazo de caña. <br />De esta
        producción, <span class="text-blue-600">38,565,130 Kw-h</span> son consumidos
        internamente, y los restantes <span class="text-blue-600"
          >41,866,830 Kw-h</span
        > se venden a la Empresa Nacional de Energía Eléctrica ENEE para consumo
        nacional, contribuyendo positivamente al medio ambiente.<br /> CAHSA también
        realiza acciones de reforestación y ha contribuido históricamente al desarrollo
        de proyectos comunales y gubernamentales en diversas áreas como educación,
        servicios públicos, reforestación, energía limpia, ambiente y deportes.
      </p>

      <h1 class="text-3xl mb-3 mt-24 dark:text-gray-100">Cómo Trabajamos</h1>
      <p>
        Nuestro producto se comercializa localmente a través de Central de
        Ingenios, S.A. de C.V. (CISA). La comercialización externa se realiza a
        través del área de exportaciones, con calidades estándar de <span
          class="text-blue-600">45 ICUMSA, 200 ICUMSA, 800 a 1800 ICUMSA</span
        >, en presentaciones de sacos de <span class="text-blue-600"
          >25 kg, 50 kg, 1 tonelada métrica</span
        > y a granel.<br /> Si deseas ser un nuevo cliente, puedes enviar un correo
        a <a href="mailto:infocahsa@cahsa.hn" class="text-blue-600"
          >infocahsa@cahsa.hn</a
        > solicitando información y con gusto te atenderemos.
      </p>
    </div>
  </Container>
</Layout>
