---
import LisProducts from "./LisProducts.astro"
---

<div
  id="caNA"
  class="animate-delay-500 space-y-6 justify-between md:p-8 p-2 pb-16 rounded-xl shadow-md text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center"
>
  <div class="md:5/12 hidden md:block lg:w-1/2">
    <img
      src="caña.webp"
      alt="image"
      loading="lazy"
      width=""
      height=""
      class="w-full rounded-lg"
    />
  </div>
  <div class="md:7/12 lg:w-1/2">
    <h2
      class="text-2xl sm:text-4xl leading-normal font-extrabold tracking-tight text-gray-600 dark:text-gray-300"
    >
      Nuestros Productos
    </h2>

    <div class="divide-y space-y-4 divide-gray-100 dark:divide-green-400">
      <LisProducts
        img="AzucarBlanca.webp"
        title="Azúcar Blanca"
        pf="Azúcar altamente refinada, de aspecto blanco brillante y sabor dulce y neutro. Ideal para panadería y repostería, carece de melaza y otros componentes que puedan afectar su color y sabor."
      />
      <LisProducts
        img="AzucarMorena.webp"
        title="Azúcar Morena"
        pf="El azúcar morena, de tono marrón oscuro, conserva melaza para un sabor robusto y un ligero matiz caramelizado. Menos refinada que el azúcar blanco, retiene nutrientes de la caña de azúcar."
        <
      />

      <LisProducts
        img="azucarRefinada.webp"
        title="Azúcar Refinada"
        pf="Azúcar blanco puro y granulado, sometido a refinamiento para eliminar impurezas. Versátil y fácil de disolver, es ideal para diversas recetas, desde postres hasta bebidas."
      />
    </div>
  </div>
</div>

<script is:inline>
  observer = new IntersectionObserver((entries) => {
    // Recorrer las entradas recibidas
    entries.forEach((entry) => {
      // Está visible en el viewport
      if (entry.intersectionRatio > 0) {
        // entry.target es el elemento que se está observando
        // Agregar la clase para animar
        entry.target.classList.add("animate-fade-up")
        // Dejar de observar
        observer.unobserve(entry.target)
      }
    })
  })
  // Observar elemento a animar
  observer.observe(document.querySelector("#caNA"))
</script>
