<section
  class="mt-24 mb-8 h-full shadow-md text-gray-800 dark:text-gray-400 rounded-md transition-transform transform duration-300 ease-in-out"
>
  <div
    class="flex justify-normal items-center min-h-[500px] p-8 overflow-hidden"
  >
    <div class="w-full">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white"
      >
        Contactanos
      </h2>

      <form action="#" class="mb-24 space-y-4">
        <div>
          <label
            for="email"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
            >Correo electrónico</label
          >
          <input
            type="email"
            id="email"
            class="shadow-sm border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:border-gray-100 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
            placeholder="cahsa@gmail.com"
            required
          />
        </div>
        <div>
          <label
            for="subject"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
            >Asunto</label
          >
          <input
            type="text"
            id="subject"
            class="block p-3 w-full text-sm text-gray-900 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:border-gray-100 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
            placeholder="Permítenos saber en qué te podemos ayudar"
            required
          />
        </div>
        <div class="sm:col-span-2">
          <label
            for="message"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400"
            >Tu mensaje</label
          >
          <textarea
            id="message"
            rows="6"
            class="block p-2.5 w-full text-sm text-gray-900 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:border-gray-100 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-200 dark:focus:border-primary-500"
            placeholder="Deja un comentario..."></textarea>
        </div>
        <button
          type="submit"
          class="py-3 px-5 text-sm bg-green-700 font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
          >Enviar mensaje</button
        >
      </form>
      <a
        href="https://www.google.com/maps/place/Compa%C3%B1ia+Azucarera+Hondure%C3%B1a/@15.4031429,-88.0025658,1048m/data=!3m2!1e3!4b1!4m6!3m5!1s0x8f6642a595ca231f:0xf8525e0227b9e28f!8m2!3d15.4031429!4d-88.0025658!16s%2Fg%2F1trxfrpm?entry=ttu"
        class="md:min-h-[700px] w-full"
        target="_blank"
      >
        <img
          src="map.png"
          loading="lazy"
          alt="map"
          class="w-full h-full rounded-lg object-contain animate-fadeIn"
        />
      </a>
    </div>
  </div>
</section>
