---
interface Props {
  checkActive?: boolean
  href: string
  class?: string
}

const {
  href,
  class: className,
  checkActive = true,
  ...restOfProps
} = Astro.props

const pathname = Astro.url.pathname

const path = pathname.match(/^\/$/) ? pathname : pathname.slice(0, -1)

const isActive = href === path && checkActive
---

<a
  href={href}
  class:list={[
    className,
    "border-b-2 dark:text-yellow-300",
    isActive ? "border-green-700" : "border-transparent",
  ]}
  {...restOfProps}
>
  <slot />
</a>
