---
import LinkResEpre from "./linkResEpre.astro"
---

<div class="rounded-xl shadow-md text-gray-600 py-16 mt-8">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-7xl sm:text-center mb-14">
      <p
        class="text-2xl sm:text-4xl leading-normal font-extrabold tracking-tight text-gray-600 dark:text-gray-300"
      >
        Responsabilidad Social Empresarial
      </p>
    </div>
    <div
      class="mx-auto grid max-w-2xl grid-cols-1 gap-8 overflow-hidden lg:mx-0 lg:max-w-none lg:grid-cols-4"
    >
      <LinkResEpre
        title="Salud"
        pf="Dotación de insumos médicos. Campaña para ti y para tu bebé"
        hrf="https://www.facebook.com/media/set/?set=a.716490897146895&type=3&ref=embed_post"
        span="cahsa #Salud"
      />
      <LinkResEpre
        title="Comunidad"
        pf="Relacionamiento comunitario. Programa de donaciones"
        hrf="https://www.facebook.com/media/set/?set=a.716486103814041&type=3&ref=embed_post"
        span="cahsa #Comunidad"
      />
      <LinkResEpre
        title="Educación"
        pf="Brindar espacios de aprendizaje dignos a los niños de las comunidades en nuestra zona de influencia"
        hrf="https://www.facebook.com/media/set/?set=a.715793353883316&type=3&ref=embed_post"
        span="cahsa #Educación"
      />
      <LinkResEpre
        title="Medio Ambiente"
        pf="Donación de plantas ornamentales y maderables a Central de Ingenios, S. A."
        hrf="https://www.facebook.com/media/set/?set=a.715136097282375&type=3&ref=embed_post"
        span="cahsa #Medio Ambiente"
      />
    </div>
  </div>
</div>
