---
import DarkBotton from "./darkBotton.astro"
import Link from "./link.astro"
import HeaderLink from "@components/HeaderLink.astro"
---

<header class="fixed top-0 w-full z-50">
  <div
    id="header-nav"
    class="max-w-7xl mx-auto px-6 py-4 flex items-center justify-between gap-16"
  >
    <div class="w-full gap-2 lg:w-auto flex">
      <Link
        checkActive={false}
        href="/"
        style="muted"
        class="relative primary z-10"
      >
        CAHSA
      </Link>
      <DarkBotton />
    </div>

    <div class="block lg:hidden">
      <button @click="open = !open" class="text-gray-800">
        <svg
          fill="currentColor"
          class="w-4 h-4"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>Menu</title>
          <path
            x-cloak
            x-show="open"
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M18.278 16.864a1 1 0 01-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 01-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 011.414-1.414l4.829 4.828 4.828-4.828a1 1 0 111.414 1.414l-4.828 4.829 4.828 4.828z"
          ></path>
          <path
            x-show="!open"
            fill-rule="evenodd"
            d="M4 5h16a1 1 0 010 2H4a1 1 0 110-2zm0 6h16a1 1 0 010 2H4a1 1 0 010-2zm0 6h16a1 1 0 010 2H4a1 1 0 010-2z"
          ></path>
        </svg>
      </button>
    </div>
    <nav
      id="header-menu"
      class="hidden w-full gap-5 lg:w-auto mt-2 lg:flex lg:mt-0 p-2"
    >
      <HeaderLink class="text__glowing font-tomaso" href="/mision-vision">
        Misión y Vision
      </HeaderLink>
      <HeaderLink class="text__glowing" href="/vota">Contáctenos</HeaderLink>
    </nav>
  </div>
</header>
