---
import DarkBotton from "./darkBotton.astro"
import Link from "./link.astro"
import HeaderLink from "@components/HeaderLink.astro"
import MenuIcon from "icons/Menu.astro"
import CloseIcon from "icons/Close.astro"
---

<header id="header-nav" class="fixed top-0 w-full z-50">
  <div class="max-w-7xl mx-auto px-6 py-4 flex items-end justify-between">
    <div class="w-full gap-2 lg:w-auto flex">
      <Link
        checkActive={false}
        href="/"
        style="muted"
        class="relative primary z-10"
      >
        CAHSA
      </Link>
      <DarkBotton />
    </div>
    <nav
      id="header-menu"
      class="fixed w-full h-dvh inset-0 bg-gray-200 text-2xl flex flex-col items-center justify-center md:justify-end gap-8 -translate-y-full transition-transform duration-300 target:translate-y-0 md:static md:h-[initial] md:bg-[initial] md:text-xl md:flex-row md:translate-y-[initial]"
    >
      <HeaderLink class="text__glowing font-tomaso" href="/mision-vision">
        Misión y Vision
      </HeaderLink>
      <HeaderLink class="text__glowing" href="/contact">Contáctenos</HeaderLink>
      <a href="#header-nav" class="md:hidden absolute top-6 right-6">
        <CloseIcon />
      </a>
    </nav>

    <a href="#header-menu" class="md:hidden"><MenuIcon /></a>
  </div>
</header>
